<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">

    <title>Super Dare of 2020 Hack</title>
</head>
<body>

<div class="info">
    <h2>
        <p>Hi, Welcome to Super Hack of 2020.</p>
        <p>Know your friends the best XD</p>
        <p>This is an open-source project maintained on <a href="https://github.com/ParsaHarooni/friend2020-hack">Github</a></p>
    </h2>
</div>

<div class="input">
    <form action="/result">
        <label for="code">Code:</label><br>
        <input type="text" id="code" name="code" value="2353453"><br>
        <input type="submit" value="Submit">
      </form>
</div>




</body>
</html>